personal Assistant/Calendar Agent/PA_Calendar_Agent.json
{
  "name": "PA Calendar Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"request\": \"User's request, including the attendees' email (if any)\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        -60
      ],
      "id": "b7e7923b-5fff-457d-a897-389335674fae",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.request }}",
        "options": {
          "systemMessage": "=You are a calendar assistant. You have access to multiple tools to take any action within calendar. Here is the current Date/Time {{$now}}\n\nCreate Event:\nIf an end date isn't specified for the event, assume it will be 60 minutes long. Use this tool if there is no attendee specified.\n\nCreate Event with Attendee:\nIf an end date isn't specified for the event, assume it will be 60 minutes long. Use this tool WHEN AN ATTENDEE IS SPECIFIED.\n\nGet Events:\nUse this tool to get events from a certain day and summarize them.\n\nDelete Event:\nuse this tool to delete an event. First use the \"Get Events\" tool to get JSON data of the event, the first field (id) in the response is the id of the event. After getting that, use this tool (Delete Event) tool to delete the Event using its id.\n\nRemember:\nIf the user mentions \"today\", \"this morning\" or any specific time clause, today's date/time is {{$now}}, and the day before this will be {{ $now.minus({ days: 1 }) }}, also the day after this will be {{ $now.plus({ days: 1 }) }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        220,
        0
      ],
      "id": "3a8728e1-bdd0-45e3-83d1-c52ce5f9bca1",
      "name": "Calander Manager"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "jamiesalvatore30@gmail.com",
          "mode": "list",
          "cachedResultName": "jamiesalvatore30@gmail.com"
        },
        "start": "={{ $fromAI(\"startTime\") }}",
        "end": "={{ $fromAI(\"endTime\") }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{$fromAI(\"eventTitle\")}}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        200,
        180
      ],
      "id": "cd8c39e1-1491-47c6-b244-00862dd71343",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "EBODztWgAy8VtxuG",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        40,
        180
      ],
      "id": "68fcbb56-186a-4435-8d7a-e426fd7a17a3",
      "name": "LLM",
      "credentials": {
        "googlePalmApi": {
          "id": "A5i26b8hwDUBhzbe",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "jamiesalvatore30@gmail.com",
          "mode": "list",
          "cachedResultName": "jamiesalvatore30@gmail.com"
        },
        "start": "={{ $fromAI(\"startTime\") }}",
        "end": "={{ $fromAI(\"endTime\") }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"attendee\") }}"
          ],
          "summary": "={{$fromAI(\"eventTitle\")}}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        340,
        220
      ],
      "id": "a699597f-3000-4bbb-b923-3d67ac58430c",
      "name": "Create Event With Attendee",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "EBODztWgAy8VtxuG",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "jamiesalvatore30@gmail.com",
          "mode": "list",
          "cachedResultName": "jamiesalvatore30@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ $fromAI(\"oneDayBefore\", \"one day before the date the user requested\") }}",
        "timeMax": "={{ $fromAI(\"oneDayAfter\", \"one day After the date the user requested\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        460,
        200
      ],
      "id": "0d654444-8691-4f65-ba88-d1174da90a10",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "EBODztWgAy8VtxuG",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd3996f1-97cd-4cfd-90ca-d4eb67eec56e",
              "name": "Response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        -60
      ],
      "id": "7f7e39bc-f66b-43d8-bdaf-7f9eea9f2647",
      "name": "Response"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "jamiesalvatore30@gmail.com",
          "mode": "list",
          "cachedResultName": "jamiesalvatore30@gmail.com"
        },
        "eventId": "={{ $fromAI(\"eventId\", \"id of the event to be deleted\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        600,
        140
      ],
      "id": "ae976e86-7f30-434b-b43b-adaa5dea2b2b",
      "name": "Delete Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "EBODztWgAy8VtxuG",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Calander Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "Calander Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Calander Manager",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Event With Attendee": {
      "ai_tool": [
        [
          {
            "node": "Calander Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "Calander Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calander Manager": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "Calander Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "67dfc37e-8a72-45cc-aad1-e03a0051462a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e15e295de39124dfa3dae9c7582f0d6f1394ebc90aa823a78d70f84a8c0c54c5"
  },
  "id": "7ST0HIPkOjEWXNIO",
  "tags": []
}