Hiring_and_Recruiting/Hiring___Recruitment.json
{
  "name": "Hiring & Recruitment",
  "nodes": [
    {
      "parameters": {
        "formId": "frvW93nQ"
      },
      "type": "n8n-nodes-base.typeformTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "06583a7c-7c30-4a79-9ef3-0582ddcff63c",
      "name": "Typeform Trigger",
      "webhookId": "cf2ae466-b262-43c9-9442-65a50e98dad6",
      "credentials": {
        "typeformApi": {
          "id": "x2DVwEF6rwlH10pB",
          "name": "Typeform account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract the \"Years of Experience\" field value\nconst experienceText = $json['Years of Experience in Copywriting'];\n// Use regex to extract the first number (e.g., \"3\" from \"3–5 years\")\nconst experience = parseInt(experienceText.match(/\\d+/)?.[0]) || 0;\n\n// Extract \"Copywriting Skills\" and convert to a readable string\nconst copywritingSkillsArray = $json['Copywriting Skills'] || [];\nconst copywritingSkills = copywritingSkillsArray.join(', ');\n\n// Add the \"Status\" field with the value \"Applied\"\nconst status = \"Applied\";\n\n// Return the combined data including the new \"Status\" field\nreturn { \n    experience, \n    copywritingSkills, \n    status \n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "15c89654-dd3a-4fd3-bafd-b20965758d69",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce279454-249e-4e9a-8ebf-d45ca8925e8a",
              "leftValue": "={{ $json.experience }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "26b1b962-0f02-4440-a540-edd9957879d3",
              "leftValue": "={{ $('Typeform Trigger').item.json[\"Portfolio or Writing Samples\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "id": "88478508-c947-4f6c-b8f4-e121f9cfb6ad",
      "name": "If"
    }
  ],
  "pinData": {
    "Typeform Trigger": [
      {
        "json": {
          "First name": "Ella",
          "Last name": "Reyes",
          "Phone number": "+2348104643215",
          "Email": "0reyes0s0ricc@gmail.com",
          "Years of Experience in Copywriting": "1-2 years",
          "Portfolio or Writing Samples": "they are much, see one here",
          "Have You Worked with Marketing Agencies Before?": true,
          "Copywriting Skills": [
            "Sales Pages",
            "Blog Writing",
            "Ad Copy"
          ],
          "Why Do You Want to Join GrowthHive Marketing?": "because i love you so much so i do not need to unfuck you for now",
          "Availability": "Immediately",
          "Expected Monthly Salary": "2000",
          "Additional Information": "I love you"
        }
      }
    ]
  },
  "connections": {
    "Typeform Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2d08dd7a-c1ce-4274-a2d7-0b24473e0dca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e15e295de39124dfa3dae9c7582f0d6f1394ebc90aa823a78d70f84a8c0c54c5"
  },
  "id": "9Mwun4Aw88qYjFi4",
  "tags": []
}